footer{
    background: var(--color-primary);
    color: #fff;
    padding: 0 80px;
}

.form-footer{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 40px;
    justify-items: center;
    align-items: center;
    padding: 64px 0;
}

.bottom-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding: 40px 0;
}

.text-footer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.text-footer p{
    font-weight: bold;
}

.links-footer{
    display: flex;
    gap: 40px;
}

.social-media{
    display: flex;
    gap: 40px;
}

.social-media i{
    font-size: 32px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    color: var(--color-primary);
    background: var(--color-secondary);
    border-radius: 24px;
}

form h2{
    font-size: 40px;
}

form p{
    font-size: 20px;
}

form small{
    font-size: 16px;
}

.form-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
}



form .input-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

form input{
    border-radius: 8px;
    padding: 6px 10px;
    background: #fff;
    font-weight: normal;
}

form .verify{
    display: flex;
    align-items: center;
    gap: 32px;
    font-weight: bold;
}

.verify-sum{
    display: flex;
    align-items: center;
    gap: 24px;
    background: #DFDCD5;
    padding: 8px 24px;
    border-radius: 8px;
}

.verify-sum .number{
    color: #7D26C9;
}