.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 64px 0;
    color: var(--color-primary);
}

.gallery img{
    border-radius: 24px;
    box-shadow: 0px 4px 8px 0px #00000029;
}

.gallery-text{
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    gap: 34px;
}

.gallery-image{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}