.desktop-navigation {
	display: flex;
	gap: 4em;
	padding-left: 80px;
	padding-top: 24px;
}

.desktop-navigation ul {
	display: flex;
	gap: 2em;
	font-size: 20px;
}

.desktop-navigation ul li:hover{
	list-style: disc;
	font-weight: bold;
}

.hero {
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	background: var(--color-primary);
	color: var(--color-secondary);
	border-radius: 0 0 32px 32px;
}

.hero-content {
	padding: 24px 0;
	padding-left: 80px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.hero-content svg {
	margin-top: 3em;
	align-self: center;
}

.hero-content h1 {
	font-weight: 900;
	font-size: 48px;
}

@media screen and (max-width: 768px) {
	.desktop-navigation ul{
		display: none;
	}

	.hero{
		position: relative;
	}

	.hero-content h1 {
		font-weight: 900;
		font-size: 24px;
	}

	.desktop-navigation {
		padding-top: 16px;
		padding-left: 24px;
	}

	.hero-content {
		padding-top: 48px 0;
		padding-left: 24px;
	}

	.svg-container{
		overflow: hidden;
		margin-left: -7em;
		height: 100%;
	}

	svg{
		overflow: hidden;
		height: 100%;
	}
}