.desktop-navigation {
	display: flex;
	gap: 4em;
	padding-left: 80px;
	padding-top: 24px;
}

.desktop-navigation ul {
	display: flex;
	gap: 2em;
	font-size: 20px;
}

.desktop-navigation ul li:hover{
	list-style: disc;
	font-weight: bold;
}

.hero {
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	background: var(--color-primary);
	color: var(--color-secondary);
	border-radius: 0 0 32px 32px;
}

.hero-content {
	padding-top: 50px;
	padding-left: 80px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.hero-content svg {
	margin-top: 3em;
	align-self: center;
}

.hero-content h1 {
	font-weight: 900;
	font-size: 48px;
}