.hero {
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	color: var(--color-secondary);
}

.hero-content {
	padding: 24px 0;
	padding-left: 80px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	height: 100%;
}

.hero-content svg {
	margin-top: auto;
	align-self: center;
}

.svg-desktop{
	position: relative;
	z-index: 100;
}

.hero-content h1 {
	font-weight: 900;
	font-size: 48px;
	margin-top: 60px;
}

@media screen and (max-width: 768px) {
	.hero {
		position: relative;
		overflow: hidden;
	}

	.hero-content h1 {
		font-weight: 900;
		font-size: 24px;
	}

	.hero-content {
		padding-top: 48px 0;
		padding-left: 24px;
	}

	.svg-container{
		overflow: hidden;
	}

	.svg-container svg {
		margin-left: -4em;
		height: 100%;
		z-index: 97;
	}
}
