.mobile-navigation {
	display: none;
}

.desktop-navigation {
	position: absolute;
	top: 24px;
	display: flex;
	gap: 4em;
	padding-left: 80px;
}

.desktop-navigation ul {
	display: flex;
	gap: 2em;
	font-size: 20px;
}

.desktop-navigation ul li:hover {
	list-style: disc;
	font-weight: bold;
}

.backdrop{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
	z-index: 90;
}

@media screen and (max-width: 768px) {
	.desktop-navigation {
		display: none;
	}

	.mobile-navigation {
		display: flex;
		position: absolute;
		flex-direction: column;
		align-items: center;
		width: 100vw;
	}

	.nav-header{
		position: relative;
		z-index: 100;
		display: flex;
		align-items: center;
		gap: 16px;
		width: 100%;
		padding: 16px 24px;
		border-radius: 0 0 16px 16px;
	}

	.nav-solid{
		background-color: var(--color-primary);
		z-index: 99;
	}

	.mobile-navigation .menu{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 24px;
		padding-top: 48px;
		position: absolute;
		z-index: 98;
		top: 40px;
		background: #DFBBFE;
	}

    .mobile-navigation .menu ul{
		display: flex;
		flex-direction: column;
		gap: 24px;
		width: 100%;
		padding-bottom: 80px;
		color: var(--color-primary);
		font-size: 20px;
	}

	.mobile-navigation .menu svg{
		position: relative;
		z-index: 999;
		margin-bottom: 40px;
		align-self: center;
	}

	.mobile-navigation li{
		list-style: disc;
		list-style-position: inside;
		font-weight: bold;
	}

	.desktop-navigation ul {
		display: none;
	}
}
