@import "tailwindcss";

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueLTStd-Th.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueLTStd-Bd.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeueLTStd-Md.otf");
  font-weight: bold;
}

*{
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --color-primary: #2D2D2D;
  --color-secondary: #EAE8E4;
  --color-tertiary: #3C0C60;
  --color-fourth: #7D26C9;
}

html,
body {
  background: var(--color-secondary);
}

main{
  padding: 0 80px;
}

h2{
  font-size: 40px;
  font-weight: bold;
}

h3 {
	font-size: 24px;
	font-weight: bold;
}

p{
  font-size: 24px;
}